@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #171a19;
  color: aliceblue;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.profile
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image
{
  position: relative;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 5px solid rgb(245, 105, 11);
  
}

.image .profile-image
{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px #f87a05;


}


.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;

}

.nav-link {
  transition: 0.7s ease;
  font-size: 25px;
}

.nav-link:hover {
  color: coral;
}

.nav-link a:active
{
  color: coral;
}

.about-me {
  color: aliceblue;
  font-size: 30px;
  border-radius: 10px;
  text-align: left;
  word-wrap: break-word;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.my-projects {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.card {
  width: 60%;
  border: 3px solid coral;
  border-radius: 5px;
  transition: transform 500ms ease;
}

.card:hover
{
  transform: scale(1.05);

}


.card-title {
  font-size: 25px;
  
}

.card-text {
  font-size: 20px;
}

.card-body {
  background-color: coral;
}

.fconnect
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 34px;
  text-decoration: none;
  font-size: 55px;
  
  
}

.fconnect a
{
  color: aliceblue;
}

.fconnect a:hover
{
  color: coral;
  transition: 0.7s ease;
}



footer {
  font-size: 20px;
  margin-top: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}


.hamburger {
  display: none;
  cursor: pointer;
}


.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: aliceblue;
}



.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
  border-right: 4px solid black;
  white-space: nowrap;
  overflow: hidden;
}


.animation {
  animation: typewriter 4s steps(15) 1s infinite both,
    blinkCursor 500ms steps(15) infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 490px;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgb(236, 232, 232);
  }

  to {
    border-right-color: transparent;
  }
}



@media screen and (max-width:768px) {


  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .profile
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image
{
  position: relative;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  border: 5px solid rgb(245, 105, 11);
  
}

.image .profile-image
{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px #f87a05;


}

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    text-align: center;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: #171a19;
    width: 25%;
    font-size: 15px;
    transition: 0.3s;
    color: aliceblue;
  }

  .nav-item {
    margin: 7px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    transition: 0.7s ease;
    font-size: 18px;
  }

  .about-me {
    color: aliceblue;
    font-size: 22px;
    border-radius: 10px;
    text-align: left;
    word-wrap: break-word;
  }

  .about-me br {
    display: none;

  }

  .my-projects {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }
  
  .card {
    width: 80%;
    border: 3px solid coral;
    border-radius: 5px;
    transition: transform 500ms ease;
  }
  
  .card:hover
  {
    transform: scale(1.05);
  
  }
  
  
  .card-title {
    font-size: 21px;
    
  }
  
  .card-text {
    font-size: 15px;
  }
  
  .card-body {
    background-color: coral;
  }
  

  .fconnect
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 34px;
  text-decoration: none;
  font-size: 35px;
  
  
}

  .footer-content {
    font-size: 15px;
  }


  .text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    border-right: 4px solid black;

  }

  .animation {
    animation: typewriter 4s steps(15) 1s infinite both,
      blinkCursor 500ms steps(15) infinite;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }

    to {
      width: 355px;
    }
  }

  @keyframes blinkCursor {
    from {
      border-right-color: rgb(236, 232, 232);
    }

    to {
      border-right-color: transparent;
    }
  }
}